services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports:
      - "4566:4566"
      - "4571:4571"
    environment:
      - SERVICES=lambda,iam,ssm,cloudformation,s3
      - DEBUG=1
      - DATA_DIR=/tmp/localstack-data
      - CLEAN_TMP_DIR=false
    volumes:
      - ./localstack-data:/tmp/localstack-data   # <-- changed path
      - /var/run/docker.sock:/var/run/docker.sock

  postgres:
    image: postgres:15
    container_name: local-postgres
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
